.display-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.display-message p{
  height: 360px;
  font-weight: bolder;
  font-size: 100px;
  text-align: center;
}