
@import url('https://fonts.googleapis.com/css?family=Anton|Indie+Flower|Kavivanar|Risque|Sedgwick+Ave|Supermercado+One|VT323');

.font-name {
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  left: 20px;
}

.font-preview{
  position: absolute;
  font-size: 3.5em;
  bottom: 0;
}
